* {
    margin: 0;
    padding: 0;
}

:root {
/* Valores de cores obtidos pelo figma do projeto */
    --bg-color: #573824;
    --surface-color: #f0e8c2;
    --text-color-1: #291B1A;
    --text-color-2: #573A37;
    --text-color-onbg: #F0E8C2;
    --cont-width: 800px;
}

img {
    border-radius: 16px;
    max-width: var(--cont-width);
    align-items: center;
}

body {
    background-image: url(assets/bg-image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--bg-color);
}

#page {
    box-sizing: border-box; /* Manter o valor de width em 800, considerando bordas */
    width: var(--cont-width);
    padding: 24px;
    background-color: var(--surface-color);
    border-radius: 24px;
    margin: 48px auto;
}

main {
    padding: 24px;
}

#about p + p {
    margin-top: 12px;
} 

section + section {
    margin-top: 24px;
}

div {
    max-width: var(--cont-width);
    background-color: var(--surface-color);
    font-family: "Alice", serif;
}

footer {
    text-align: center;
}

h1{
    color: var(--text-color-1);
    font-size: 40px;
    line-height: 140%;
    margin-bottom: 4px;
}

h2{
    color: var(--text-color-1);
    font-size: 24px;
    line-height: 150%;
    margin-bottom: 4px;
}

ul {
    padding-left: 32px;
}

p {
    color: var(--text-color-2);
    font-size: 16px;
    line-height: 150%;
}

